/add_index.gif
/clear.gif
/collapseall.gif
/debug.gif
/dirty.gif
/error_st_obj.gif
/expandall.gif
/import_jar.gif
/import_m2_project.gif
/import_project.png
/jar_obj.gif
/jar_src_version.gif
/jar_version.gif
/lock_ovr.gif
/m2.gif
/m2eclipse48.gif
/main_tab.gif
/maven_index.gif
/maven_indexes.gif
/mlabel.gif
/new_m2_pom.gif
/new_m2_project.gif
/new_m2_project_wizard.gif
/passed.png
/pom_obj.gif
/project_obj.gif
/rebuild_index.gif
/refresh.gif
/stderr.gif
/stdout.gif
/suspend.gif
/update_dependencies.gif
/update_index.gif
