/copy_edit.png
/cut_edit.png
/delete_edit.png
/export_wiz.png
/help_contents.png
/help_search.png
/import_wiz.png
/new_wiz.png
/paste_edit.png
/pin_editor.png
/print_edit.png
/redo_edit.png
/save_edit.png
/saveall_edit.png
/saveas_edit.png
/search.png
/tricks.png
/undo_edit.png
