/build_obj.gif
/close.gif
/element_obj.gif
/exclude_obj.gif
/execution_obj.gif
/filter_obj.gif
/goal_obj.gif
/include_obj.gif
/insp_sbook.gif
/jar_obj.gif
/jars_obj.gif
/license.png
/open_pom.gif
/parameter_obj.gif
/person_obj.gif
/plugin_obj.gif
/plugins_obj.gif
/profile_obj.gif
/profiles_obj.gif
/properties_obj.gif
/property_obj.gif
/report_obj.gif
/repository_obj.gif
/resource_obj.gif
/resources_obj.gif
/role_obj.gif
/template_obj.gif
