/add.png
/assume_unchanged.png
/branches_obj.png
/changelog_obj.png
/clean_obj.png
/commit.png
/commit_amend.png
/delete_obj.png
/disconnect_co.png
/editconfig.png
/fetch.png
/gerrit_fetch.png
/gerrit_obj.png
/history.png
/ignore.png
/merge.png
/mergetool.png
/new_tag_obj.png
/no_assume_unchanged.png
/open-commit.png
/pull.png
/pull_with_options.png
/push.png
/rebase.png
/repository_rep.png
/reset.png
/search-commit.png
/sign-commit.png
/signed-off.png
/stash.png
/state_sort_co.png
/synchronize.png
/unstage.png
/untrack.png
