/CatalogDescriptor.class
/IMarketplaceClientConfiguration.class
/IMarketplaceClientService.class
/MarketplaceClient.class
/MarketplaceUrlHandler$FavoritesDescriptor.class
/MarketplaceUrlHandler$SolutionInstallationInfo.class
/MarketplaceUrlHandler.class
/Messages.class
/Operation.class
/messages.properties
