/egit-checkout.png
/firststeps.png
/fs_nav.png
/import-existing-project.png
/mi_nav.png
/migrate.png
/new-project.png
/open-file.png
/ov_nav.png
/overview.png
/sa_nav.png
/samples.png
/settings.png
/start-cheatsheet.png
/tu_nav.png
/tutorials.png
/wb_nav.png
/webresources.png
/whatsnew.png
/wn_nav.png
/workbench.png
/wr_nav.png
