/AbstractMpcProtocolUrlHandler.class
/FavoritesUrlHandler$1.class
/FavoritesUrlHandler.class
/HttpFavoritesUrlHandler.class
/HttpSolutionUrlHandler.class
/MarketplaceUriSchemeHandler$1.class
/MarketplaceUriSchemeHandler.class
/MarketplaceUrlUtil.class
/MpcProtocolFavoritesUrlHandler.class
/MpcProtocolSolutionUrlHandler.class
/SolutionUrlHandler$1.class
/SolutionUrlHandler.class
/UrlHandlerStrategy$Registry.class
/UrlHandlerStrategy.class
