/action-item-favorites.png
/action-item-login.png
/action-item-update.png
/action-item-warning.png
/favorites-list.png
/iu_disabled_obj.png
/iu_disabled_obj@2x.png
/iu_install_obj.png
/iu_install_obj@2x.png
/iu_obj.png
/iu_obj@2x.png
/iu_uninstall_obj.png
/iu_uninstall_obj@2x.png
/iu_update_obj.png
/iu_update_obj@2x.png
/marketplace16.png
/marketplace32.png
/marketplace_banner.png
/news_update.png
/news_update@2x.png
/noiconprovided.png
/noiconprovided32.png
/share.png
/star-selected.png
/star.png
