/EGit-Target-Platforms.png
/Oomph-01-advanced-mode.png
/Oomph-02-proxy-product-selection.png
/Oomph-03-project-egit.png
/Oomph-04-installer-progress.png
/Oomph-05-eclipse-progress.png
/Oomph-06-ide.png
/Oomph_-01a-proxy-settings.png
/Start-swtbot-test.png
