/fs_standby.gif
/fs_standbyhov.gif
/mi_standby.gif
/mi_standbyhov.gif
/ov_standby.gif
/ov_standbyhov.gif
/sa_standby.gif
/sa_standbyhov.gif
/tu_standby.gif
/tu_standbyhov.gif
/wb_standby.gif
/wb_standbyhov.gif
/wn_standby.gif
/wn_standbyhov.gif
/wr_standby.gif
/wr_standbyhov.gif
