/LegacyIDE.e4xmi
/about.html
/about.ini
/about.mappings
/about.properties
/book.css
/disabled_book.css
/eclipse1024.png
/eclipse128.png
/eclipse16.png
/eclipse22.png
/eclipse24.png
/eclipse256.png
/eclipse32.png
/eclipse48.png
/eclipse512.png
/eclipse64.png
/eclipse_lg.png
/helpData.xml
/intro-eclipse.png
/introData.xml
/macosx_narrow_book.css
/narrow_book.css
/platform.jar
/plugin.properties
/plugin.xml
/plugin_customization.ini
/plugin_customization.properties
/splash.bmp
