/EGit_5.8_CloneWizard_Bundle.png
/EGit_5.8_DiffViewer_CompactOutline.png
/EGit_5.8_DiffViewer_QuickOutline.png
/EGit_5.8_DiffViewer_Toolbar.png
/EGit_5.8_RepoView_TagFilter.png
/EGit_5.8_RepoView_TagFilterCommand.png
