/dragHandle.png
/gtkHandle.png
/gtkTSFrame.png
/macGrey.png
/macHandle.png
/macTSFrame.png
/win7.png
/win7Handle.png
/win7TSFrame.png
/winClassicHandle.png
/winClassicTSFrame.png
/winXPBluHandle.png
/winXPBluTSFrame.png
/winXPBlue.png
/winXPHandle.png
/winXPOlive.png
/winXPTSFrame.png
