/add.png
/add_all.png
/author.png
/collapseall.png
/committer.png
/compare_view.png
/continue.png
/delete.png
/expandall.png
/flatLayout.png
/goto_input.png
/horizontal_view.png
/progress_stop.png
/refresh.png
/skip.png
/synced.png
/unstage_all.png
